---
layout: default

namespace: home

permalink: /
---

<!-- Intro module -->
{% if site.data.manifest.modules.intro %} {% include modules/intro.html %} {%
endif %}

<!-- News module -->
{% if site.data.manifest.modules.news %} {% include modules/news.html %} {%
endif %}

<!-- Pre-enrolled module -->
{% if site.data.manifest.modules.preenrolled and
site.data.manifest.modules.preenrolled.subtitle and
site.data.manifest.modules.preenrolled.subtitle != ""%} {% include
modules/preenrolled.html %} {% endif %}

<!-- Sponsors module -->
{% if site.data.manifest.modules.sponsors %} {% include modules/sponsors.html %}
{% endif %}
