.club {
  .club-content {
    margin-top: 20px;
    color: $black_color;

    p,
    span {
      font-size: 18px;
      color: $black_color;
    }
  }

  .img-wrap {
    padding: 20px;
    border: 1px solid $grey_color;

    img {
      width: 100%;
    }
  }

  .container-fluid {
    .left {
      &.full {
        width: 100%;
      }
      &:not(.full) {
        padding-right: 40px;
        width: 50%;
      }
    }

    .right {
      width: 50%;
    }

    @include respond-to(upto-sm) {
      flex-direction: column;

      .left {
        width: 100% !important;
        padding: 0 !important;
      }
      .right {
        margin-top: 60px;
        width: 100%;
      }
    }
  }

  .staff {
    .people {
      margin-top: 40px;
    }
  }
}
