@import "./../_mixins/responsive";

section.intro {
  height: calc(100vh - #{$header_height_full}) !important;
  position: relative;
  overflow: hidden;

  > div {
    display: flex;
    align-items: center;
    height: 100%;

    > div {
      height: 100%;

      &.left {
        width: 40%;
        padding-right: 40px !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .top {
          padding-top: 20px;
        }

        h1 {
          font-size: 65px;

          @include respond-to(md) {
            font-size: 50px;
          }

          @include respond-to(sm) {
            font-size: 40px;
          }
          @include respond-to(xs) {
            font-size: 32px;
          }
        }

        h3 {
          font-size: 24px;

          @include respond-to(sm) {
            font-size: 20px;
          }
          @include respond-to(xs) {
            font-size: 18px;
          }
        }
      }
      &.right {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 60%;
      }
    }
  }

  //   Responsive

  @include respond-to(upto-sm) {
    height: auto !important;
    > div {
      flex-direction: column;
      > div {
        width: 100% !important;

        &.left {
          padding: 30px 15px !important;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        &.right {
          height: 300px;
        }
      }
    }
  }
}
