section.next-matches {
  .events {
    margin-top: 60px;
  }
  .marquee {
    width: 100%;
    overflow: hidden;

    > div {
      display: flex;
    }
  }

  .event {
    display: inline-block;
    border-left: 1px solid $text_on_first_color;
    padding: 0 50px;

    .teams {
      font-weight: $font_light;
      span {
        font-weight: $font_light;
        &.strong {
          font-weight: $font_medium;
        }
      }
    }

    .championship {
      font-size: 15px;
      text-transform: uppercase;
    }
  }

  @include respond-to(xs) {
    .marquee {
      display: none;
    }
  }
  @include respond-to(from-sm) {
    .next-matches-carousel {
      display: none;
    }
  }

  .next-matches-carousel {
    .event {
      padding: 0 15px;
      border: 0;

      .teams {
        font-size: 24px;
      }
      .championship {
        font-size: 13px;
      }
    }
  }
}
