section.sponsors {
  .sponsor {
    cursor: pointer;
    padding: 0 10px;
    img {
      width: 100%;
      margin: 0 auto;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
      color: $black_color;
    }
  }

  .sponsors-grid {
    display: grid;
    grid-template-rows: max-content;
    width: 100%;

    &.primary {
      grid-template-columns: repeat(4, 1fr);
    }

    &.secondary {
      grid-template-columns: repeat(6, 1fr);
    }

    grid-gap: 20px;

    .sponsor {
      padding: 0;
    }

    @include respond-to(xlg) {
      &.primary {
        grid-template-columns: repeat(5, 1fr);
      }

      &.secondary {
        grid-template-columns: repeat(8, 1fr);
      }
    }

    @include respond-to(sm) {
      &.primary {
        grid-template-columns: repeat(3, 1fr);
      }

      &.secondary {
        grid-template-columns: repeat(4, 1fr);
      }
    }

    @include respond-to(xs) {
      &.primary {
        grid-template-columns: repeat(2, 1fr);
      }

      &.secondary {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }
}

.sponsor {
  .img-wrap {
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 100%;
      width: auto !important;
      max-height: 200px;
    }
    p {
      transition: all 0.5s;
    }
  }

  &:hover {
    p {
      color: $first_color !important;
    }
  }
}
