<footer class="footer-area">
  <div class="container-fluid px-5">
    <div class="row justify-content-between">
      <div class="col-sm-6 col-md-6 col-xl-3 p-0">
        <div class="single-footer-widget footer_1">
          <a href="/" class="whiteBig no-padding">{{ site.data.manifest.club_name }}</a>
          <p class="white d-none d-md-block">
            © 2020 | <a href="#">Privacy Policy</a>
          </p>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-md-6 no-padding-mobile">
        <div class="single-footer-widget footer_2">
          {% if site.data.manifest.modules.contacts %}
          <h4 class="foot-headings">Contatti</h4>
          <div class="contact_info">
            <ul>
              <li>
                <a href="#">{{ site.data.manifest.modules.contacts.phone }}</a>
              </li>
              <li>
                <a href="#">{{ site.data.manifest.modules.contacts.mobile }}</a>
              </li>
              <li>
                <a href="#">{{ site.data.manifest.modules.contacts.email }}</a>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-md-6 no-padding-mobile">
        <div class="single-footer-widget footer_2">
          <h4 class="foot-headings">Social</h4>
          <div class="footer_img">
            <a href="#"
              ><img
                height="30"
                src="{{site.data.manifest.subpath}}assets/img/footer_img/logo_facebook_64x64.png"
            /></a>
            <a href="#"
              ><img
                height="30"
                src="{{site.data.manifest.subpath}}assets/img/footer_img/logo_instagram_64x64.png"
            /></a>
            <a href="#"
              ><img
                height="30"
                src="{{site.data.manifest.subpath}}assets/img/footer_img/logo_twitter_64x64.png"
            /></a>
            <a href="#"
              ><img
                height="30"
                src="{{site.data.manifest.subpath}}assets/img/footer_img/logo_youtube_64x64.png"
            /></a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 col-md-6 no-padding-mobile">
        <div class="single-footer-widget footer_2 last">
          <h4 class="foot-headings text-right powered">Powered by</h4>
          <div class="contact_info text-right">
            <a class="foot-logo text-right"
              ><img width="120" src="{{site.data.manifest.subpath}}assets/img/logo-footer.png"
            /></a>
            <p class="white d-block d-sm-none pt-5">
              © 2020 | <a href="#">Privacy Policy</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
