{% if site.data.manifest.modules.affiliation and
  site.data.manifest.modules.affiliation.name %} {% assign is_affiliate_name = true
  %}{% endif %}

{% if site.data.manifest.modules.affiliation and
  site.data.manifest.modules.affiliation.link and 
  site.data.manifest.modules.affiliation.link != "" %} {% assign is_affiliate_link = true
  %}{% endif %}

<footer class="footer-area">
  <div class="container-fluid">
    <div class="footer-widgets">
      <!-- Club name -->
      <div>
        <h4 class="foot-heading club-name">
          {{ site.data.manifest.club_name }}
        </h4>

        {% if is_affiliate_name %}
        <div class="affiliation">
          Società affiliata a
          {% if is_affiliate_link %}
          <a href="{{site.data.manifest.modules.affiliation.link}}" target="_blank">
            {{site.data.manifest.modules.affiliation.name}}
          </a>
          {% else %}
          {{site.data.manifest.modules.affiliation.name}}
          {% endif %}
        </div>

        {% endif %}
      </div>

      <!-- Contacts -->
      <div>
        {% if site.data.manifest.modules.contacts %}
        <h4 class="foot-heading">Contatti</h4>
        <ul>
          <li>
            <a
              href="tel:{{site.data.manifest.modules.contacts.phone}}">{{ site.data.manifest.modules.contacts.phone }}</a>
          </li>
          <li>
            <a
              href="tel:{{site.data.manifest.modules.contacts.mobile}}">{{ site.data.manifest.modules.contacts.mobile }}</a>
          </li>
          <li>
            <a
              href="mailto:{{ site.data.manifest.modules.contacts.email }}">{{ site.data.manifest.modules.contacts.email }}</a>
          </li>
        </ul>
        {% endif %}
      </div>

      <!-- Social link -->
      <div>
        {% if site.data.manifest.modules.social %}

        <!-- Assign to avoid write always long name -->
        {% assign fb = site.data.manifest.modules.social.linkFb %} {% assign ig
        = site.data.manifest.modules.social.linkIg %} {% assign tw =
        site.data.manifest.modules.social.linkTw %} {% assign yt =
        site.data.manifest.modules.social.linkYt %}

        <!-- Check if at least one -->

        {% if fb != "" or ig != "" or tw != "" or yt != ""%}

        <h4 class="foot-heading">Social</h4>
        <div class="social-links">
          {% if fb and fb != "" %}
          <a href="{{fb}}" target="_blank"><i class="lab la-facebook"></i></a>
          {% endif %} {% if ig and ig != "" %}
          <a href="{{ig}}" target="_blank">
            <i class="lab la-instagram"></i>
          </a>
          {% endif %} {% if tw and tw != "" %}
          <a href="{{tw}}" target="_blank"><i class="lab la-twitter"></i></a>

          {% endif %} {% if yt and yt != "" %}
          <a href="{{yt}}" target="_blank"><i class="lab la-youtube"></i></a>
          {% endif %}
        </div>
        {% endif %} {% endif %}
      </div>

      <!-- Powered by -->
      <div>
        <h4 class="foot-heading">Powered by</h4>
        <div class="contact_info">
          <a class="foot-logo text-right" href="https://golee.it" target="_blank"><img width="120"
              src="{{site.data.manifest.subpath}}assets/img/logo-footer.png" /></a>
        </div>
      </div>
    </div>
  </div>

  <div class="copy py-3 d-flex align-items-center justify-content-center">
    <p class="white">
      © Copyright Golee 2020 |
      <a href="https://golee.it/privacy-policy/" target="_blank">Privacy Policy</a>
    </p>
  </div>
</footer>