<script src="{{site.data.manifest.subpath}}assets/js/jquery-1.12.1.min.js"></script>
<!-- popper js -->
<script src="{{site.data.manifest.subpath}}assets/js/popper.min.js"></script>
<!-- bootstrap js -->
<script src="{{site.data.manifest.subpath}}assets/js/bootstrap.min.js"></script>
<!-- easing js -->
<script src="{{site.data.manifest.subpath}}assets/js/jquery.magnific-popup.js"></script>
<!-- swiper js -->
<script src="{{site.data.manifest.subpath}}assets/js/swiper.min.js"></script>
<!-- isotope js -->
<script src="{{site.data.manifest.subpath}}assets/js/isotope.pkgd.min.js"></script>
<!-- particles js -->
<script src="{{site.data.manifest.subpath}}assets/js/owl.carousel.min.js"></script>
<script src="{{site.data.manifest.subpath}}assets/js/jquery.nice-select.min.js"></script>
<!-- swiper js -->
<script src="{{site.data.manifest.subpath}}assets/js/slick.min.js"></script>
<script src="{{site.data.manifest.subpath}}assets/js/jquery.counterup.min.js"></script>
<script src="{{site.data.manifest.subpath}}assets/js/waypoints.min.js"></script>
<!-- custom js -->
<script src="{{site.data.manifest.subpath}}assets/js/custom.js"></script>

<!-- MENU MULTILEVEL SIDEBAR -->
<script src="https://oss.maxcdn.com/libs/modernizr/2.6.2/modernizr.min.js"></script>
<script src="{{site.data.manifest.subpath}}assets/js/jquery.multilevelpushmenu.js"></script>
