section {
  &.section-right-image {
    > div {
      display: flex;
      align-items: center;
      height: 100%;

      > div {
        height: 100%;

        &.left {
          width: 40%;
          padding-right: 40px !important;
        }
        &.right {
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          width: 60%;
        }
      }
    }
  }
}
