$font_stack_1: "Roboto", sans-serif;
$font_stack_2: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;

$font_size16: 16px;
$font_size20: 20px;
$font_size25: 25px;
$font_size24: 24px;
$font_size30: 30px;
$font_size40: 36px;
$font_size60: 60px;
$font_size80: 80px;

$font_light: 300;
$font_regular: 400;
$font_medium: 500;
$font_bold: 700;

$white_color: #fff;
$black_color: #000;
$menu_color: #0c2e60;
$icon_color: #0c2e60;
$icon_bg: #f0f4f6;
$author_text_color: #556172;
$grey_color: #cdcdcd;
$grey_color_light: #ededed;
$grey_color_super_light: #f9f9f9;
$grey_color_dark: #a3a3a3;
$back_dark: #222222;

// Original from the space
// $btn_bg: #e90c85;
// $btn_hover: #0167b2;
// $base_color: #0066b1;
// $menu_base_color: #0066b3;
// $section_bg: #111010;
// $section_bg_1: #454545;
// $heading_color: #0167b2;
// $heading_color2: #e90c85;

// Dynamic version
$btn_bg: $second_color;
$btn_hover: $first_color;
$base_color: $first_color;
$menu_base_color: $first_color;
$section_bg: #111010;
$section_bg_1: #454545;
$heading_color: $first_color;
$heading_color2: $second_color;

$p_color: #666666;
$font_1: #83868c;
$font_2: #646464;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #777777;
$font_8: #888888;
$border_color: #edeff2;
$footer_bg: #303030;
$sidebar_bg: #fbf9ff;

$marginToBos: 30px 0;

$medium_device: "only screen and (min-width: 992px) and (max-width: 1200px)";
$tab_device: "only screen and (min-width: 768px) and (max-width: 991px)";
$large_mobile: "only screen and (min-width: 576px) and (max-width: 767px)";
$tab: "(max-width: 991px)";
$desktop: "(min-width: 1200px)";
$tablet_land: "(max-width: 1024px)";
$tablet_port: "only screen and (min-width:481px) and (max-width: 768px)";
$small_mobile: "(max-width: 576px)";
$smartphone: "(max-width: 480px)";
$xs_mobile: "(max-width: 420px)";
$sm_mobile: "only screen and (min-width: 421px) and (max-width: 575px)";
$big_screen: "only screen and (min-width: 1200px) and (max-width: 1440px)";
$extra_big_screen: "only screen and (min-width: 1200px) and (max-width: 3640px)";

$header_height_full: 120px;
$header_height: 80px;