<section class="banner_part">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-lg-4 col-xl-4 padding-left-15-mobile">
        <p class="blue-36 pt-5 d-none d-md-block">{{ site.club.name }}</p>
        <div class="banner_text">
          <div class="banner_text_iner">
            <h1>{{ site.club.banner.title }}</h1>
            <h3>
              {{ site.club.banner.subtitle }}
            </h3>
            <a href="#" class="ti-arrow-top-right space-arrow"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
