---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---

// Colors from _config.yml
$first_color: "{{ site.data.manifest.first_color }}";
$second_color: "{{ site.data.manifest.second_color }}";
$third_color: "{{ site.data.manifest.third_color }}";

// variable scss
@import "variables";

// mixin scss
@import "mixins";
@import "extends";
// default scss
@import "common";

// button scss
@import "button";

@import "blog";
@import "single_blog";
// body scss
@import "menu";
@import "banner";
@import "our_service";
@import "about_part";
@import "our_project";
@import "review";
@import "member_counter";
@import "project_details";
@import "cource_details";
@import "testimonial_part";
@import "footer";

@import "elements";
@import "blog_part";
@import "copyright_part";
@import "contact";

// breadcrumb scss
@import "breadcrumb";

// The Space
@import "thespace";

@import "footer";
