<div class="person">
  <div class="img-wrap">
    {% if item.avatar_url %}
    <!-- <img src="{{item.avatar_url}}=w600-h600-pp-b3-c0xff034694" /> -->
    <img src="{{item.avatar_url}}=w600-h600-pp" />

    {% else %}
    <img src="{{site.data.manifest.subpath}}assets/img/player.svg" />
    {% endif %}
  </div>

  <!-- name -->
  {% if item.name and item.surname %}
  <p class="name">{{ item.name }} {{ item.surname }}</p>
  {% endif %} {% if item.name and item.surname == null %}
  <p class="name">{{ item.name }}</p>
  {% endif %} {% if item.name == null and item.surname %}
  <p class="name">{{ item.surname }}</p>
  {% endif %}

  <!-- role -->
  {% if item.role %}
  <p class="role">{{ item.role }}</p>
  {% endif %}

  <!-- date -->
  {% if item.birthdate %}
  <p class="date">{{ item.birthdate }}</p>
  {% endif %}
</div>
