<div class="person">
  <div class="img-wrap">
    {% if item.avatar_url %} {% if item.avatar_url contains 'googleusercontent'
    %} {% if item.avatar_url contains '=s0' %}
    <img src="{{item.avatar_url}}-w600-h600-pp" />
    {% else %}
    <img src="{{item.avatar_url}}=w600-h600-pp" />
    {% endif %} {% else %}
    <img src="{{item.avatar_url}}" />
    {% endif %} {% else %}
    <img src="{{site.data.manifest.subpath}}assets/img/player.svg" />
    {% endif %}
  </div>

  <!-- name -->
  {% if item.name and item.surname %}
  <p class="name">{{ item.name }} {{ item.surname }}</p>
  {% endif %} {% if item.name and item.surname == null %}
  <p class="name">{{ item.name }}</p>
  {% endif %} {% if item.name == null and item.surname %}
  <p class="name">{{ item.surname }}</p>
  {% endif %}

  <!-- role -->
  {% if item.role %}
  <p class="role">{{ item.role }}</p>
  {% endif %}

  <!-- date -->
  {% if permissions.birthdate == "HIDE" or include.birthdate==false %} {% else
  %} {% if item.birthdate %}
  <p class="date">{{ item.birthdate }}</p>
  {% endif %} {% endif %}
</div>
