---
layout: default

namespace: club

permalink: /club
---

<div class="club">
  <!-- Handle img not available -->
  {% if site.data.manifest.modules.club.image_url %} {% assign content_class =
  "left" %} {% else %} {% assign content_class = "left full" %} {% endif %}

  <!-- Pre -->
  {% if site.data.manifest.modules.club.body or
  site.data.manifest.modules.club.image_url %}
  <section class="info">
    <div class="container-fluid d-flex">
      <div class="{{content_class}}">
        <h1 class="black-color font-regular">
          {{ site.data.manifest.club_name }}
        </h1>
        <div class="club-content">
          {{ site.data.manifest.modules.club.body | markdownify }}
        </div>
      </div>

      {% if site.data.manifest.modules.club.image_url %}
      <div class="right">
        <div class="img-wrap">
          <img src="{{ site.data.manifest.modules.club.image_url }}" />
        </div>
      </div>
      {% endif %}
    </div>
  </section>
  {% endif %}

  {% if (site.data.manifest.modules.club.body or
    site.data.manifest.modules.club.image_url) and site.data.manifest.modules.club.staff %}
  <hr />
  {% endif %}

  <!--  Staff -->
  <section class="staff">
    <div class="container-fluid">
      {% if site.data.manifest.modules.club.staff %}
      <h3 class="black-color font-regular">Dirigenti</h3>
      <div class="people d-block">
        <div>
          {% for item in site.data.manifest.modules.club.staff %} {% include
          components/person.html item=item %} {% endfor %}
        </div>
      </div>
      {% else %}
      <p>Staff dirigenziale non disponibile</p>
      {% endif %}
    </div>
  </section>
</section>
