---
layout: default

namespace: history

permalink: /history
---

<section class="history">
  <!-- Pre -->
  {% if site.data.manifest.modules.history.content or
  site.data.manifest.modules.history.image_url %}
  <div class="container-fluid">
    <div class="left">
      <h3 class="club">{{ site.data.manifest.club_name }}</h3>
      <div class="content">
        {{ site.data.manifest.modules.history.content | markdownify }}
      </div>
    </div>

    {% if site.data.manifest.modules.history.image_url %}
    <div class="right">
      <div class="img-wrap">
        <div
          class="news-img"
          style="background-image: url('{{ site.data.manifest.modules.history.image_url }}')"
        ></div>
      </div>
    </div>
    {% endif %}
  </div>
  {% endif %}

  <!--  Staff -->
  <div class="staff">
      <div class="container-fluid">
          
      </div>
  </div>
</section>
