---
layout: default

namespace: news

permalink: /news
---

<section class="news">
  <div class="container-fluid">
    {% if site.data.manifest.modules.news.size > 0 %}

    <!-- If news -->
    <div class="news-grid">
      {% for item in site.data.manifest.modules.news %} {% if item.is_highlight
      == true and forloop.first %}

      <a
        class="news-box highlight"
        href="{{ site.data.manifest.subpath }}news/{{ item.slug }}"
      >
        {% if item.cover_url %} {% assign news_image = item.cover_url %} {% else
        %} {% assign news_image = null %} {% endif %}

        <div
          class="news-background-img"
          style="background-image: url('{{ news_image }}')"
        >
          {% if news_image %}
          <div class="overlay"></div>
          {% endif %}
          <div class="news-info">
            <span class="news-category">{{ item.category }}</span>
            <span class="news-date">{{ item.publish_date.DDMMYYYY }}</span>
          </div>
          <div class="news-heading">
            <h3 class="news-title">{{ item.title }}</h3>
            <hr />
            <div class="news-content">
              {{ item.body | markdownify | strip_html | truncatewords: 20 }}
            </div>
          </div>
        </div>
      </a>
      {% endif %} {% if item.is_highlight != true or forloop.first != true %}
      <a
        class="news-box"
        href="{{ site.data.manifest.subpath }}news/{{ item.slug }}"
      >
        {% if item.cover_url %} {% assign news_image = item.cover_url %} {% else
        %} {% assign news_image = null %} {% endif %}

        <div
          class="news-img"
          style="background-image: url('{{ news_image }}')"
        ></div>

        <h3 class="news-title">{{ item.title }}</h3>
        <div class="news-content">
          {{ item.body | markdownify | strip_html | truncatewords: 20 }}
        </div>
        <div class="news-info">
          <span class="news-category">{{ item.category }}</span>
          <span class="news-date">{{ item.publish_date.DDMMYYYY }}</span>
        </div>
      </a>
      {% endif %} {% endfor %}
    </div>

    {% else %}

    <!-- If empty news -->
    <h3 class="section-title">News</h3>
    <p>Non sono presenti news in questo momento</p>

    <div class="mt-5">
      <a class="btn btn-3d btn-primary" href="{{site.data.manifest.subpath}}"
        >Torna alla home</a
      >
    </div>

    {% endif %}
  </div>
</section>
