---
layout: default

namespace: sponsors

permalink: /sponsors
---

{% if site.data.manifest.modules.sponsors.size > 0 %}

<!-- If there are some sponsors -->
{% assign primary_sponsors = site.data.manifest.modules.sponsors |
where:"category","PRIMARY" %}

<section class="sponsors">
  <div class="container-fluid">
    <h3 class="section-title">Main sponsor</h3>

    <div class="sponsors-grid primary">
      {% for item in primary_sponsors %} {% include components/sponsor.html
      item=item %} {% endfor %}
    </div>
  </div>
</section>

{% assign secondary_sponsors = site.data.manifest.modules.sponsors |
where:"category","SECONDARY" %} {% if secondary_sponsors.size > 0 %}

<hr />
<section class="sponsors">
  <div class="container-fluid">
    <h3 class="section-title">Sponsor tecnici</h3>

    <div class="sponsors-grid secondary">
      {% for item in secondary_sponsors %} {% include components/sponsor.html
      item=item %} {% endfor %}
    </div>
  </div>
</section>

{% endif %} {% else %}

<!-- If empty sponsors -->
<section class="sponsors">
  <div class="container-fluid">
    <h3 class="section-title">Sponsor</h3>
    <p>Non sono presenti sponsor</p>

    <div class="mt-5">
      <a class="btn btn-3d btn-primary" href="{{site.data.manifest.subpath}}"
        >Torna alla home</a
      >
    </div>
  </div>
</section>

{% endif %}
