---
layout: default

namespace: sponsors

permalink: /sponsors
---

<section class="sponsors">
  <div class="container-fluid">
    <h3 class="section-title">Main sponsor</h3>

    {% assign primary_sponsors = site.data.manifest.modules.sponsors |
    where:"category","primary" %}

    <div class="sponsors-grid primary">
      {% for item in primary_sponsors %}
      <a class="sponsor" href="{{item.link}}" target="_blank">
        <img src="{{item.logo_url}}" alt="{{item.name}}" />
        <p>{{item.name}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<hr />

<section class="sponsors">
  <div class="container-fluid">
    <h3 class="section-title">Sponsor tecnici</h3>

    {% assign secondary_sponsors = site.data.manifest.modules.sponsors |
    where:"category","secondary" %}

    <div class="sponsors-grid secondary">
      {% for item in secondary_sponsors %}
      <a class="sponsor" href="{{item.link}}" target="_blank">
        <img src="{{item.logo_url}}" alt="{{item.name}}" />
        <p>{{item.name}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
