.form-group {
  margin: 20px 0;
  textarea,
  input {
    width: 100%;
    border: none;
    outline: none !important;
    padding: 8px 0;
    border-radius: 0;
    border-bottom: 2px solid $grey_color_light;

    &:focus,
    &:active {
      border-bottom-color: $second_color;
    }

    &.error {
      // TODO:
      border-bottom-color: red;
    }
  }

  textarea {
    min-height: 157px;
    max-height: 400px;
  }

  select {
    width: 100%;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 8px 0;
    color: #777;
    border-radius: 0;
    border-bottom: 2px solid $grey_color_light;
    &:focus,
    &:active {
      border-bottom-color: $second_color;
      outline: none !important;
    }

    &.error {
      border-bottom-color: $first_color;
    }
  }

  label.error {
    color: red;
    font-size: 12px;
  }
}

.form .actions {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .privacy {
    width: 50%;
  }
}

.checkbox-wrapper {
  margin: 20px 0;

  p {
    margin-bottom: 0;
  }

  > label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 11px;
    color: $black_color;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
    height: 25px;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;

      &:disabled {
        & ~ .checkmark {
          background-color: #ccc !important;
        }
      }
    }

    /* Create a custom checkbox */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      border-width: 0;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: $grey_color_light;
      transition: background-color 0.2s;
    }

    /* On mouse-over, add a grey background color */
    &:hover input ~ .checkmark {
      background-color: #ccc;
    }

    /* When the checkbox is checked, add a blue background */
    input:checked ~ .checkmark {
      background-color: $first_color;
    }

    /* Show the checkmark when checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .checkmark:after {
      left: 8px;
      top: 5px;
      width: 5px;
      height: 9px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  label.error {
    margin-top: 10px;
    font-size: 12px;
    color: red;
  }
}
