<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body class="page-{{ page.namespace }}">
    {% if site.data.manifest.is_undermaintenance %}
    <!-- Under maintenance  -->

    <div id="maintenance">
      <div>
        <h1>{{site.data.manifest.club_name}}</h1>
        <p>Sito in manutenzione, riprova più tardi.</p>
      </div>
    </div>

    {% else %}

    <!-- No maintenance, show website content -->

    <!-- Header -->
    {% include header.html %}

    <!-- Content -->
    <div class="content {{ page.namespace }}">{{ content }}</div>

    <!-- Footer -->
    {% include footer.html %}

    <!-- Scripts -->
    {% include scripts.html %}

    <!-- End -->
    {% endif %}
  </body>
</html>
