{% if site.data.manifest.modules.affiliation and
site.data.manifest.modules.affiliation.logo %} {% assign is_affiliate_logo = true
%}{% endif %}

{% if site.data.manifest.modules.affiliation and
  site.data.manifest.modules.affiliation.link and 
  site.data.manifest.modules.affiliation.link != "" %} {% assign is_affiliate_link = true
  %}{% endif %}

<section class="intro section-right-image">
  <div>
    <div class="left container-fluid">
      <div class="top">
        {% if is_affiliate_logo %}
        <div class="affiliation">
          {% if is_affiliate_link %}
          <a href="{{site.data.manifest.modules.affiliation.link}}" target="_blank">
            <img src="{{site.data.manifest.modules.affiliation.logo}}" />
          </a>
          {% else %}
          <img src="{{site.data.manifest.modules.affiliation.logo}}" />
          {% endif %}
        </div>
        {% endif %}
      </div>
      <div class="bottom">
        <h1>{{ site.data.manifest.modules.intro.title }}</h1>
        <h3>{{ site.data.manifest.modules.intro.subtitle }}</h3>
        <a href="#" class="ti-arrow-top-right space-arrow"></a>
      </div>
    </div>
    <div class="right" style="background-image: url('{{ site.data.manifest.modules.intro.background_url}}=s1200')">
    </div>
  </div>

  <!-- Mobile -->
  <div class="mobile-intro">
    {% if is_affiliate_logo %}
    <div class="mobile-affiliation">
      {% if is_affiliate_link %}
      <a href="{{site.data.manifest.modules.affiliation.link}}" target="_blank">
        <img src="{{site.data.manifest.modules.affiliation.logo}}" />
      </a>
      {% else %}
      <img src="{{site.data.manifest.modules.affiliation.logo}}" />
      {% endif %}
    </div>
    {% endif %}
    <div class="intro" style="background-image: url('{{ site.data.manifest.modules.intro.background_url}}=s1200')">
      <div class="overlay"></div>

      <h1>{{ site.data.manifest.modules.intro.title }}</h1>
      <a href="#" class="ti-arrow-top-right space-arrow"></a>
    </div>
  </div>
</section>