<section class="preenrolled section-right-image first-color-bg">
  <div>
    <div class="left container-fluid">
      <h3 class="section-title">
        {% if site.data.manifest.modules.preenrolled.title %}
        {{site.data.manifest.modules.preenrolled.title}} {% else %} Entra nel
        Club! {% endif %}
      </h3>
      <p class="whiteBigP">
        {{ site.data.manifest.modules.preenrolled.subtitle }}
      </p>
      <div class="btn-wrapper">
        <a
          href="{{ site.data.manifest.modules.preenrolled.url }}"
          target="_blank"
          class="btn btn-secondary btn-3d"
        >
          {% if site.data.manifest.modules.preenrolled.buttonText %}
          {{site.data.manifest.modules.preenrolled.buttonText}} {% else %}
          Iscriviti! {% endif %}</a
        >
      </div>
    </div>
    <div
      class="right"
      style="background-image: url('{{ site.data.manifest.modules.preenrolled.image_url}}=s1000')"
    ></div>
  </div>
</section>
