<section class="sponsors home">
  <div class="container-fluid">
    <h3 class="section-title">Sponsor</h3>

    {% assign primary_sponsors = site.data.manifest.modules.sponsors |
    where:"category","primary" %}

    <div class="carousel-sponsor">
      {% for item in primary_sponsors %}
      <a class="sponsor" href="{{item.link}}" target="_blank">
        <img src="{{item.logo_url}}" alt="{{item.name}}" />
        <p>{{item.name}}</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>
